@model AdoptSpot.Models.Pet

@{
    ViewData["Title"] = "Edit Pet";
    var petId = Model.Id;
}
<input type="hidden" id="petId" value="@petId" />

<h2>@ViewData["Title"]</h2>

<head>
    <style>
        .custom-table {
            width: 100%;
           
           
            
        }

            .custom-table th, .custom-table td {
                padding: 12px;
                text-align: left;
                border-bottom: 1px solid #ddd;
                background-color: #f2f2f2;
                
            }

            
      
    </style>

</head>
<form asp-action="Edit" enctype="multipart/form-data" method="post" id="editForm">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Upload new images:</label>
        <input type="file" name="newImages" id="newImages" multiple class="form-control-file" />
    </div>
    <div class="form-group">
        <label>Current Images:</label>
        <div class="row">
            @foreach (var image in Model.Images)
            {
                <div class="col-md-4">
                    <div class="image-wrapper" style="width: 100%; padding-top: 100%; position: relative;">
                        <img src="@Url.Action("GetImage", "Image", new { id = image.Id })"
                             style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
                             alt="Image @image.Id" />
                    </div>
                    <div>
                        <input type="checkbox" class="image-checkbox" value="@image.Id" /> Delete

                    </div>
                </div>
            }
        </div>
    </div>

    <button id="delete-images-button" data-delete-images-url='@Url.Action("DeleteImages", "Pets")/@Model.Id'>Delete Selected Images</button>



    <!-- ... -->

    <table class="table">
        <thead>

            <tr>
                <th>Disease</th>
                <th>Date Administered</th>
                <th>Veterinarian Name</th>
                <th>Expiration Date</th>
                <th>Batch Number</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="vaccinationsTableBody">
            @if (Model.MedicalRecord.Vaccinations.Any())
            {
                int index = 0;
                foreach (var vaccine in Model.MedicalRecord.Vaccinations)
                {

                    <tr data-id="@vaccine.Id">
                        <td><input name="MedicalRecord.Vaccines[@index].Disease" value="@vaccine.Disease" class="form-control" readonly /></td>
                        <td><input type="date" id="dateAdministered_@index" name="MedicalRecord.Vaccines[@index].DateAdministered" value="@vaccine.DateAdministered.ToString("yyyy-MM-dd")" class="form-control" readonly onblur="checkDates('@index')" /></td>
                        <td><input name="MedicalRecord.Vaccines[@index].VeterinarianName" value="@vaccine.VeterinarianName" class="form-control" readonly /></td>
                        <td><input type="date" id="expirationDate_@index" name="MedicalRecord.Vaccines[@index].ExpirationDate" value="@vaccine.ExpirationDate.ToString("yyyy-MM-dd")" class="form-control" readonly onblur="checkDates('@index')" /></td>
                        <td><input name="MedicalRecord.Vaccines[@index].BatchNumber" value="@vaccine.BatchNumber" class="form-control" readonly /></td>
                        <td><input name="MedicalRecord.Vaccines[@index].Notes" value="@vaccine.Notes" class="form-control" readonly /></td>
                        <td><input name="MedicalRecord.Vaccines[@index].Id" type="hidden" value="@vaccine.Id" /></td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm" onclick="toggleReadOnly('@(vaccine.Id)'); return false;">Edit</a>
                            <a href="#" class="btn btn-danger btn-sm" onclick="deleteVaccination( @(vaccine.Id)); return false;">Delete</a>
                        </td>
                    </tr>
                    index++;
                }

            }
            else
            {
                <tr>
                    <td colspan="7">No MedicalRecord found for this pet or no vaccinations.</td>
                </tr>
            }
        </tbody>

    </table>

    <div id="newVaccinationContainer" style="display: none;">

    </div>
    <button type="button" id="addVaccinationBtn" class="btn btn-primary">Add Vaccination</button>


    <!-- ... -->

    <div class="form-group">
        <button type="button" class="btn btn-primary" onclick="submitFormWithAddedVaccinations(@Model.Id)">Update Vaccinations</button>



        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
    <div>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Treatment Description</th>
                    <th>Prescribing Veterinarian</th>
                    <th>Cost</th>
                    <th>Diagnosis</th>
                    <th>Medication</th>
                    <th>Dosage and Unit</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                  
                </tr>
            </thead>
            <tbody id="medicalTreatmentTableBody">
                @if (Model.MedicalRecord.MedicalTreatments.Count > 0)
                {
                    int indexMedTreatment = 0;
                    foreach (var treatment in Model.MedicalRecord.MedicalTreatments)
                    {
                <tr>
                    <td class="TreatmentDescription" data-field="TreatmentDescription">
                        <span>@treatment.TreatmentDescription</span>
                        <input type="text" value="@treatment.TreatmentDescription" style="display: none" />
                    </td>
                    <td class="PrescribingVeterinarian" data-field="PrescribingVeterinarian">
                        <span>@treatment.PrescribingVeterinarian</span>
                        <input type="text" value="@treatment.PrescribingVeterinarian" style="display: none" />
                    </td>
                    <td class="Cost" data-field="Cost">
                        <span>@treatment.Cost</span>
                        <input type="text" value="@treatment.Cost" style="display: none" />
                    </td>
                    <td class="Diagnosis" data-field="Diagnosis">
                        <span>@treatment.Diagnosis</span>
                        <input type="text" value="@treatment.Diagnosis" style="display: none" />
                    </td>
                    <td class="Medication" data-field="Medication">
                        <span>@treatment.Medication</span>
                        <input type="text" value="@treatment.Medication" style="display: none" />
                    </td>
                    <td class="DosageAndUnit" data-field="DosageAndUnit">
                        <span>@treatment.DosageAndUnit</span>
                        <input type="text" value="@treatment.DosageAndUnit" style="display: none" />
                    </td>
                    <td class="StartDate" data-field="StartDate">
                        <span>@treatment.StartDate.ToString("yyyy-MM-dd")</span>
                        <input type="date" value="@treatment.StartDate.ToString("yyyy-MM-dd")" style="display: none" />
                    </td>
                    <td class="EndDate" data-field="EndDate">
                        <span>@treatment.EndDate.ToString("yyyy-MM-dd")</span>
                        <input type="date" value="@treatment.EndDate.ToString("yyyy-MM-dd")" style="display: none" />
                    </td>
                   
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary btn-sm edit-button" data-id="@treatment.Id">Edit</button>
                            <button type="button" class="btn btn-success btn-sm update-button" data-id="@treatment.Id" style="display: none">Update</button>
                            <button type="button" class="btn btn-warning btn-sm cancel-button" data-id="@treatment.Id" style="display: none">Cancel</button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="deleteTreatment(@(treatment.Id))">Delete</button>
                        </div>
                    </td>
                </tr>
                        indexMedTreatment++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10">No medical treatments found for this pet .</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <label asp-for="Species"></label>
        <input asp-for="Species" class="form-control" />
        <span asp-validation-for="Species" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PetGender"></label>
        <input asp-for="PetGender" class="form-control" />
        <span asp-validation-for="PetGender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color"></label>
        <input asp-for="Color" class="form-control" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Breed"></label>
        <input asp-for="Breed" class="form-control" />
        <span asp-validation-for="Breed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>

    <div id="removedVaccinations" style="display: none;"></div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/EditViewScriptVaccinations.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#medicalTreatmentTableBody .edit-button").on("click", function () {
                var row = $(this).closest("tr");
                $("td", row).each(function (i) {
                    if (i < 8) { // Exclude last cell with buttons
                        var span = $(this).find("span");
                        var input = $(this).find("input");
                        input.width(input.val().length *11);
                        if (span.length > 0) {
                            span.hide();
                            input.show();
                        } else {
                            var text = $(this).text();
                            $(this).html('<span>' + text + '</span><input type="text" value="' + text + '" style="display: none" />');
                            $(this).find("span").hide();
                            $(this).find("input").show();
                        }
                        $(this).css("white-space", "nowrap");
                    }
                });
                row.find(".update-button").show().css("display", "inline-block");;
                row.find(".cancel-button").show().css("display", "inline-block");;
                $(this).hide();
            });

            $("#medicalTreatmentTableBody .update-button").on("click", function () {
                var row = $(this).closest("tr");
                var treatment = {};
                var petId = $("#petId").val();
                treatment.Id = $(this).data('id');
                $("td", row).each(function (i) {
                    if (i < 8) {
                        var span = $(this).find("span");
                        var input = $(this).find("input");
                        span.html(input.val());
                        span.show();
                        input.hide();
                        treatment[$(this).data('field')] = input.val();
                    }
                });

                row.find(".edit-button").show();
                row.find(".cancel-button").hide();
                $(this).hide();

                $.ajax({
                    type: "POST",
                    url: "UpdateMedicalTreatment/" + petId ,
                    data: JSON.stringify(treatment),
                    contentType: "application/json", 
                    dataType: "json"
                });
            });

            $("#medicalTreatmentTableBody .cancel-button").on("click", function () {
                var row = $(this).closest("tr");
                $("td", row).each(function (i) {
                    if (i < 8) {
                        var span = $(this).find("span");
                        var input = $(this).find("input");
                        input.val(span.html());
                        span.show();
                        input.hide();
                    }
                });
                row.find(".edit-button").show();
                row.find(".update-button").hide();
                $(this).hide();
            });
        });
    </script>



}



