@model AdoptSpot.Models.UserPreferencesViewModel
@using AdoptSpot.Data.Enums
@{
    ViewData["Title"] = "Create";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h2>Complete the information in this form for pet recommendations</h2>

<form asp-action="PetRecommendation"  class="p-5 border rounded bg-light">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="PreferredSize" class="font-weight-bold">Please, select the pet size</label>
            <select asp-for="PreferredSize" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<Size>()"></select>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="PreferredLifeSpan" class="font-weight-bold">Please, select the pet average lifespan</label>
            <select asp-for="PreferredLifeSpan" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<LifeSpanInYears>()"></select>
            <small id="lifeSpanHelp" class="form-text text-muted">Short = 0-5 years average lifespan. Medium = 6-10 average lifespan. Long = 10+ average lifespan.</small>
        </div>

    </div>

    <h3 class="mt-5 mb-4">Please, select the temperament characteristics of your preferred pet</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Understanding 'Score'
                </div>
                <div class="card-body">
                    <ul>
                        <li><strong>1:</strong> "I'd rather the pet doesn't have this trait."</li>
                        <li><strong>5:</strong> "I'd absolutely love it if the pet has this trait."</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Understanding 'Weight'
                </div>
                <div class="card-body">
                    <ul>
                        <li><strong>1:</strong> "This trait doesn't affect my decision much."</li>
                        <li><strong>5:</strong> "This trait strongly influences my decision."</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        @for (int i = 0; i < Model.UserPreferenceTemperamentScores.Count; i++)
        {
            <div class="col-md-6 mb-4">
                <div class="form-group text-center">
                    <p class="form-control-plaintext text-uppercase font-weight-bold">Pet Trait @Model.UserPreferenceTemperamentScores[i].Temperament.ToString()</p>
                    <input type="hidden" asp-for="@Model.UserPreferenceTemperamentScores[i].Temperament" />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="score">Score</label>
                            <select asp-for="@Model.UserPreferenceTemperamentScores[i].Score" class="form-control">
                                @for (int j = 1; j <= 5; j++)
                                {
                                    <option value="@j">@j</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.UserPreferenceTemperamentScores[i].Score" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="weight">Weight</label>
                            <select id="weight" class="form-control" asp-for="@Model.UserPreferenceTemperamentScores[i].Weight">
                                @for (int k = 1; k <= 5; k++)
                                {
                                    <option value="@k">@k</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.UserPreferenceTemperamentScores[i].Weight" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>





    <div class="form-group">
        <input type="submit" value="Submit form" class="btn btn-primary" />
    </div>
</form>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
